body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/** nav style */
.navbar {
  flex-grow: auto;
}
.nav-link {
  color: rgb(63, 63, 63);
}

/** body style */
.jumbotron {
  margin-bottom: 0;
  background-color: #fff;
  flex-grow: 5;
}
.jumbotron h1 {
  font-weight: 400;
}

.list-group-item p {
  display: initial;
}
.my-list-head {
  font-weight: 500;
}

/** footer style */
.card {
  background-color: #555;
  color: #ddd;
  border-radius: 0;
  flex-grow: auto;
}
.card-body {
  padding: 1rem 1.25rem;
  text-align: right;
}